[submodule "external/MRSegmentator"]
	path = external/MRSegmentator
	url = https://github.com/hhaentze/MRSegmentator.git
[submodule "external/MRISegmenter"]
	path = external/MRISegmenter
	url = https://github.com/rsummers11/MRISegmenter.git
[submodule "external/TotalSegmentator"]
	path = external/TotalSegmentator
	url = https://github.com/wasserth/TotalSegmentator.git
[submodule "external/NVSegmentCTMR"]
	path = external/NVSegmentCTMR
	url = https://huggingface.co/nvidia/NV-Segment-CTMR
[submodule "external/VoxTell"]
	path = external/VoxTell
	url = https://github.com/MIC-DKFZ/VoxTell.git
[submodule "external/VIBESegmentator"]
	path = external/VIBESegmentator
	url = https://github.com/robert-graf/VIBESegmentator.git
[submodule "external/TextMedSeg3D"]
	path = external/TextMedSeg3D
	url = https://github.com/zhaoziheng/SAT.git
[submodule "external/BiomedParse2D"]
	path = external/BiomedParse2D
	url = https://github.com/microsoft/BiomedParse.git
	branch = main
[submodule "external/BiomedParse3D"]
	path = external/BiomedParse3D
	url = https://github.com/microsoft/BiomedParse.git
[submodule "external/HybridGNet"]
	path = external/HybridGNet
	url = https://github.com/ngaggion/HybridGNet.git
[submodule "external/nnInteractive"]
	path = external/nnInteractive
	url = https://github.com/MIC-DKFZ/nnInteractive.git
[submodule "external/cuRadiomics"]
	path = external/cuRadiomics
	url = https://github.com/jiaoyining/cuRadiomics.git
[submodule "external/detectron2"]
	path = external/detectron2
	url = https://github.com/facebookresearch/detectron2.git
